[submodule "external/Lapis"]
	path = external/Lapis
	url = https://github.com/ReidYeager/Lapis
[submodule "external/Opal"]
	path = external/Opal
	url = https://github.com/ReidYeager/Opal
[submodule "external/Peridot"]
	path = external/Peridot
	url = https://github.com/ReidYeager/Peridot
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
